.faqPage {
    /* padding: 20px 50px; */
    align-items: center;
    text-align: center;

}

.faqPage h2 {
    /* font-size: 1.5em; */
    line-height: 1.5em;
    padding: 5px 10px 0;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px #0001;
}

label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    /* background: #6AAB95; */
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}


.content {
    background: white;
    padding: 10px 25px;
    /* border: 1px solid #A7A7A7; */
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35); */
    border-radius: 4px;
    font-size: 1.1em;
    text-align: left;
}

input+label+.content {
    display: none;
}

input:checked+label+.content {
    display: block;
}