.Kontaktsymbole{
margin-left: 10%;
margin-right: 10%;
    }

.IconContainerKontak{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.Kontakticon1{
        float: left;
        padding-right: 1%;
        background: rgb(255, 255, 255);
        width: 30.666666666%;
        height: 200px;
        box-sizing: border-box;
        padding-left: 1%;
        margin-left: 2%;
    }

@media all and (max-device-width: 767px) {
    .Kontakticon1{
        width: 100%;
    }
}

.BitmojiContainerKontakt{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    }
    
.BitmojiContainerKontakt p {
    text-align: center;
    font-style: italic;
    max-width: 230px;
    padding-top: 30px;
}
.defaultPageContainerKontakt{
    text-align: center;
}

    .BitmojiIconcontainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .rund {
        border-radius: 100px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
        padding-right: 25px;
        padding-left: 25px;
        box-shadow: 3px 3px 2px grey;
    }

    @media (max-width: 480px) {
        .IconContainerKontak {
            flex-direction: column;
            align-items: center;
        }
        .BitmojiContainerKontakt{
            display: flex;
            flex-direction: column;
            }
    }