.LoginStyleDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #77A6F7;
}

.LoginButton{
    display: inline;
    height: 3.5em;

    border-radius: 4px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.35);
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.35); */
    transition: box-shadow 200ms cubic-bezier(0.25,0.46,0.45,0.94);

    font-size: 1em;

    padding: 0 20px;

}

.LoginButton:hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.LoginStyleDiv input{
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.35);
    margin: 0 25px;
    padding: 10px;
    font-size: 1.5em;
}