.FoldingContainer {
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    box-sizing: border-box;
    border-radius: 4px;

    max-height: 500px;
    width: 100%;
    display: auto;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
}


#ClosedContainer {
    display: flex;
    cursor: pointer;
}

#ClosedPanelContainer {
    display: flex;
    cursor: pointer;
}


.ContainerHeader {
    display: flex;
    margin-bottom: 8px;
}

/* CONTENT MOVEMENT */

.ContainerContent {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    max-height: 500px;
}

#ClosedContent {
    max-height: 0px;
}

/* ICON */
.FoldingIconDiv {
    grid-column: 2;
    grid-row: 1;
    width: 20px;
    height: 20px;
    margin: auto 10px auto auto;
}

.FoldingIcon {
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#ContainerIconOpen {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}