.fb1_block {
    /* height: 300px; */
    /* width: 100px; */

    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;

}

.blockImageDiv {
    order: 2;
}

@media only screen and (min-width: 961px) {
    .fb1_block {
        flex-direction: row;
        justify-content: space-around;
    }

    .blockImageDiv {
        order: 1;
    }

    .fb1_fillBlock .blockImageDiv {
        order: 3;
    }

}

/*block reorder for desktop*/


.blockDescription {
    order: 1;
    margin: 100px;
    max-width: 600px;
}

.fb1_block h2 {
    font-size: 3em;
}

.fb1_block p {
    font-size: 1.5em;
}



.fb1_phoneImg {
    width: 200px;
    /* transform: rotate(3deg); */
}

.fb1_scanBlock {
    /* display: inline-block; */
    position: relative;
}

.fb1_qrCode {
    width: 300px;
    transform: rotate(3deg);
}




.fb1_fillBlock {
    /* display: inline-block; */
    /* position: relative; */
    /* left: 40%; */
}

.fb1_doneBlock {
    /* display: inline-block; */
    /* position: relative; */
    /* left: 70%; */
}

.fb1_leaveBlock {
    /* display: inline-block; */
    /* position: relative; */
    /* left: 40%; */
}