/* +++++++++ GLOBAL +++++++++ */

.featureBlocksMainDiv {
    display: flex;
    flex-direction: column;
}

.relativePositionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}


.blockText {
    z-index: 1;
    text-align: center;
    margin: 1em 0;
}

.blockText h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.blockText p {
    line-height: 1.3em;
    font-size: 1.2em;
}

@media only screen and (min-width: 1080px) {
    .blockText h2 {
        font-size: 3em;
    }

    .blockText p {
        font-size: 1.3em;
    }
}

/* +++++++++ FIRST BLOCK +++++++++ */

.QrCogoDiv {
    position: absolute;
    top: 0%;
    left: 28%;
    width: 35%;
}

.QrCogoDiv img {
    width: 100%;
}


@media only screen and (min-width: 1080px) {
    .QrCogoDiv {
        position: absolute;
        top: 8%;
        left: 25%;
        width: 25%;
    }

    .qrBlockDescription {
        position: absolute;
        top: 8%;
        right: 15%;

        width: 30%;
    }
}

/* +++++++++ SECOND BLOCK +++++++++ */

.PhoneDiv {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 45%;
    /* transform: rotate(3deg); */
}

.PhoneDiv img {
    width: 100%;
    transform: rotate(0deg);
}

@media only screen and (min-width: 1080px) {
    .phoneBlockDescription {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 40%;
    }

    .PhoneDiv {
        position: absolute;
        top: 15%;
        right: 10%;
        width: 21%;
    }
}

/* +++++++++ FOOD TABLE BLOCK +++++++++ */

.tableDescription {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);

    /* border-radius: 5px; */
    height: 400px;
    width: 100%;
    background-image: url('./bgPlatter.webp');
    /* background-image: url(/restaurant-691397_1920-min.jpg); */
    /* background-image: url(./woodBgTest.webp); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /*TODO maybe disable on Mobile => background-attachment: scroll;*/
}

.tableDescription h1 {
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px #00000044;
}

.tableDescription p {
    font-size: 2em;
    color: #eee;
}

/* +++++++++ THIRD BLOCK +++++++++ */

.phoneLeaveBlockDescription {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 40%;
}

.phoneLeaveDiv {
    position: absolute;
    top: 12%;
    left: 8%;
    width: 21%;
}

.phoneLeaveDiv img {
    width: 100%;
    transform: rotate(0deg);
}