/* +++++++++ GLOBAL +++++++++ */

.featureBlocksMainDiv {
    display: flex;
    flex-direction: column;
}

.relativePositionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}


.blockText {
    z-index: 1;
    text-align: center;
    padding: 1em 10px;
}

.blockText h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.blockText p {
    line-height: 1.3em;
    font-size: 1.2em;
}

.featureBlockContainer {
    margin-bottom: 50px;
}

.bgImg {
    width: 100%;
}

@media only screen and (min-width: 1080px) {
    .blockText h2 {
        font-size: 3em;
    }

    .blockText p {
        font-size: 1.3em;
    }

    .featureBlockContainer {
        margin-bottom: 0;
    }
}


/* +++++++++ FIRST BLOCK +++++++++ */

.QrCogoDiv {
    position: absolute;
    top: 0%;
    left: 28%;
    width: 35%;
}

.QrCogoDiv img {
    width: 100%;
}


@media only screen and (min-width: 1080px) {
    .QrCogoDiv {
        position: absolute;
        top: 8%;
        left: 25%;
        width: 25%;
    }

    .qrBlockDescription {
        position: absolute;
        top: 8%;
        right: 15%;

        width: 30%;
    }
}

/* +++++++++ SECOND BLOCK +++++++++ */

.PhoneDiv {
    position: absolute;
    top: 0%;
    right: 5%;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
}

.PhoneDiv img {
    height: 130%;
}

@media only screen and (min-width: 481px) and (max-width: 1079px) {
    .PhoneDiv img {
        height: 110%;
    }
}


@media only screen and (min-width: 1080px) {
    .phoneBlockDescription {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 40%;
    }

    .PhoneDiv {
        display: block;
        position: absolute;
        top: 15%;
        right: 10%;
        width: 21%;
    }

    .PhoneDiv img {
        width: 100%;
        height: auto;
    }
}

/* +++++++++ FOOD TABLE BLOCK +++++++++ */

.tableDescription {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);

    /* border-radius: 5px; */
    height: 400px;
    width: 100%;
    background-image: url('./BgPlatter.webp');
    /* background-image: url(/restaurant-691397_1920-min.jpg); */
    /* background-image: url(./woodBgTest.webp); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    /*TODO maybe disable on Mobile => background-attachment: scroll;*/
}

.tableDescription h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px #00000044;
}

@media only screen and (min-width: 1080px) {
    .tableDescription h1 {
        font-size: 4em;
    }

    .tableDescription {
        margin: 100px 0;
        background-attachment: fixed;
    }
}

/* +++++++++ THIRD BLOCK +++++++++ */

.phoneLeaveDiv {
    position: absolute;
    top: 0%;
    left: 0%;
    /* width: 21%; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.phoneLeaveDiv img {
    height: 140%;
}

.lastFeatureBlock {
    margin-bottom: 100px;
}

@media only screen and (min-width: 481px) and (max-width: 1079px) {
    .phoneLeaveDiv img {
        height: 120%;
    }
}

@media only screen and (min-width: 1080px) {
    .phoneLeaveBlockDescription {
        position: absolute;
        top: 25%;
        left: 35%;
        width: 40%;
    }

    .phoneLeaveDiv {
        display: block;
        position: absolute;
        top: 12%;
        left: 8%;
        width: 21%;
    }

    .phoneLeaveDiv img {
        width: 100%;
        height: auto;
    }
}