.mainParent {
    margin-top: 50px;
    display: grid;
    row-gap: 70px;
}

.landingPage_blogContainer {
    /* border: solid slateblue 2px; */
    height: 100%;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "header image""content image""link image";
    row-gap: 15px;
    column-gap: 25px;

    /* box-shadow: inset 0px -67px 60px -30px rgba(255, 255, 255, 1); */
}

.lp_bcLeft {
    grid-template-areas: "image header""image content""image link";
}

.landingPage_blogContainer h2 {
    font-size: 2em;
    text-align: center;
}

.landingPage_blogContainer p {
    font-size: 1.2em;
}

.landingPage_blogTitle {
    grid-area: header;
}

.landingPage_blogSubtitle {
    grid-area: subtitle;
}

.landingPage_blogImg {
    grid-area: image;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.landingPage_blogImg>img {
    width: 100%;
}

.landingPage_blogContent {
    grid-area: content;
    max-height: 300px;
    overflow: hidden;
    text-align: justify;
}

.landingPage_blogLink {
    justify-self: center;
}