.mainParent {
    margin-top: 50px;
    display: grid;
    row-gap: 70px;
}

.landingPage_blogContainer {
    /* border: solid slateblue 2px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.landingPage_blogContainer>div {
    margin-bottom: 20px;
}

@media only screen and (min-width: 1080px) {
    .landingPage_blogContainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "header image""content image""link image";
        row-gap: 15px;
        column-gap: 25px;
    }

    .landingPage_blogContainer>div {
        margin-bottom: 0px;
    }
}

.lp_bcLeft {
    grid-template-areas: "image header""image content""image link";
}

.landingPage_blogContainer h2 {
    font-size: 2em;
    text-align: center;
}

.landingPage_blogContainer p {
    font-size: 1.2em;
}

.landingPage_blogTitle {
    grid-area: header;
}

.landingPage_blogSubtitle {
    grid-area: subtitle;
}

.landingPage_blogImg {
    grid-area: image;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

.landingPage_blogImg>img {
    width: 100%;
}

.landingPage_blogContent {
    grid-area: content;
    overflow: hidden;
    text-align: justify;
}

.landingPage_blogLink {
    grid-area: link;
    justify-self: center;
    align-self: center;
}