.footerDiv {
    padding-top: 15px;
    background-image: url("./FooterBg.webp");
    background-attachment: fixed;
    box-shadow: inset 0px 10px 30px 5px rgba(0, 0, 0, 0.75);
    color: white;
}

.footerContentDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerHead {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    height: 18px;
    margin-bottom: 20px;
    font-size: 2.0em;
}

.footerHead span {
    line-height: 15px;
    padding: 0 10px;
    display: inline-block;
    margin-top: 10px;
    background: #333;
}

.bottomFooterBar {
    text-align: center;
    padding: 25px;
}

.FooterFlexChild {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.footerDiv a {
    color: white;
    padding-top: 10px;
}


.registerIcon img {
    width: 90px;
}

.FooterSocialMediaCol {
    display: flex;
    flex-direction: row;
}

.Textdata {
    font-size: 1.5em;
    text-align: center;
}

.links a {
    display: block;
    transition: all .15s ease-in-out;
}

.links a:hover {
    transform: scale(1.05);
}

.downloadLinkContainer {
    width: 250px;
    transition: all .15s ease-in-out;
}

.downloadLinkContainer img {
    width: 100%;
    margin: 5px;
}

.downloadLinkContainer:hover {
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .FooterRowElement {
        padding-top: 10px;
    }
}