.footerDiv {
    /*DEBUG*/
   
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color:#333;
    color: white;
    transition: 0.2s;  
    position: absolut;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerHead{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    height: 18px;
    margin-bottom: 20px;
    font-size: 2.0em;
}

.footerHead span{
    line-height: 15px;
    padding: 0 10px;
    display: inline-block;
    margin-top: 10px;
    background:  #333;
}

.bottomFooterBar{
    text-align: center;
    padding: 25px;
}

.FooterRowElement{
    display: flex;
    flex-direction: column;
}

.footerDiv a{
    color:#DAA520; 
    padding-top: 10px;
    text-decoration-line: none;
}

a:hover{
    color: #DAA520;
}

.registerIcon img{
    width: 90px;
}

.FooterSocialMediaCol{
    display: flex;
    flex-direction: row;
}

.Textdata{
    padding: 12px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.links{
    padding-bottom: 8px;
}

.linkGoogle img{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.linkApple img{
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px){
    .container{
        flex-direction: column;
        align-items: center;
    } 
    
    .FooterRowElement{
        padding-top: 10px;
    }
}