.headerDiv {
    /*DEBUG*/
    position: absolute;
    top: 0;
    width: 100%;
    /* transition: 0.2s; */

    /* max-height: 80px; */
    /*SYNC WITH FUNCTION ON Header.js*/
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.headerSolid {
    position: static;
    height: 110px;
    background-image: url("./HeaderBg.webp");
    background-attachment: fixed;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75); */
    box-shadow: inset 0px -10px 30px 5px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.headerDiv>a {
    margin: 0 25px;
}

.registerIcon>img {
    width: auto;
    height: 80px;
}


.headerMenu {
    display: flex;
    list-style-type: none;
}

.headerLinkText {
    transition: all .15s;
    padding: 30px;
    font-size: 1.6em;
    z-index: 10;
}

.headerLinkText a {
    display: block;
    color: #FFF;
    text-decoration-line: none;
    transition: all .15s ease-in-out;
}

.headerLinkText a:hover {
    transform: scale(1.15);
    color: #E1A700;
}


.fixedBgScrollImage {
    border-radius: 5px;
    height: 200px;
    width: 100%;
    background-image: url(/restaurant-691397_1920-min.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}