@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

p {
    line-height: 1.3em;
}


button,
input {
    color: inherit;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    border: 0;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 3em;
    line-height: 2em;
    font-family: 'Merienda', cursive;
    font-style: italic;
}

a {
    text-decoration: underline;
    cursor: pointer;
}


.flexBoxCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultPageContainer {
    max-width: 1250px;
    padding: 0 50px 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
}